/* .a-h => app header  */
.a-h {
  margin-top: 5px;
  display: flex;
  background-color: #123;
  flex-direction: column;
  padding: 2px 10px;
}

.a-h-1 {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.sessions-algs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: center;
}

.fav-algs > *,
.sessions-algs > * {
  margin-right: 30px;
  padding: 3px 5px;
  border-radius: 5px;
  width: min-content;
  background-color: #def;
  white-space: nowrap;
}

.sessions-algs > * {
  border-bottom: 2px solid #89a;
  border-radius: 0px;
  margin-right: 10px;
  cursor: pointer;
}
.sessions-algs .session-alg-focus {
  background-color: #abf;
  border-bottom: 2px solid #f0f;
}

.fav-algs {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}
.fav-algs .fav-alg {
  position: relative;
  padding: 0;
}
.fav-alg:hover .del-fav-alg {
  display: flex;
}
.fav-alg .del-fav-alg {
  user-select: none;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1237;
  text-align: right;
  font-weight: bolder;
  color: #fff;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 20px;
}
.del-fav-alg span {
  cursor: pointer;
}
.nums-container {
  display: flex;
  position: relative;
  width: 100%;
  border: 2px solid red;
}
.new-num-form {
  width: min-content;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
.nums-history-div {
  position: relative;
  overflow-x: scroll;
  flex: 1;
  display: flex;
}
.nums-history {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5px;
  flex-wrap: nowrap;
  width: 100%;
  background-color: #012;
}

.nums-history-div::-webkit-scrollbar {
  display: none;
}

.nums-history div {
  font-size: 15px;
  border-radius: 2px;
  padding: 3px 5px;
  min-width: 15px;
  margin: 5px;
}

/* app header menu  */

.a-h-m {
  display: block;
  position: sticky;
  width: 100%;
  background-color: #123d;
  height: 100%;
  overflow: auto;
  z-index: 3;
  color: #def;
}

.a-h-m-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.a-h-m-head {
  height: 40px;
}
.close-a-h-m {
  background-color: #012;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a-h-m-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.a-h-m-content > div {
  width: 100%;
  margin-top: 7px;
  cursor: pointer;
  text-align: right;
  border-bottom: 1px solid #456;
}

.a-h-m-content > div > * {
  margin-left: 10px;
}
