/*form container */
.r-form{
	display: flex;
	width: 95%;
	background-image: linear-gradient(#345, #123);
	min-height: 80%;
	margin: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border: 1px solid #123;
	border-radius: 5px;
}
/*form header */
.r-form-header {
	text-align: center;
	font-size: 35px;
	color: #fef;
	font-weight: bolder;
}

.r-form-group {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.r-form-group label {
	color: #abc;
	width:  30px;
	margin-right: 5px;
}

.r-form-group input {
	margin-top: 20px;
	color: #def;
	background: #1230;
	border: none;
	border-bottom: 1px solid #def;
	outline:none;
}
.r-form-terms {
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.r-form-terms span {
	margin-left: 10px;
	color: #def;
}
.r-form-terms span a {
	text-decoration: none;
	border-bottom: 1px solid #0cf;
	color: #0cf;
}


#r-form-submit {
	margin: auto;
	width: 50%;
	height: 50px;
	border: none;
	font-weight: bolder;
	background: #123;
	border-radius: 5px;
	color: #def;
	cursor: pointer;
}

/*register footer */
.r-from-footer span {
	color: #cde;
}
.l-form-footer span a {
	color: #0bf;
	border-bottom: 1px solid #0bf;
	text-decoration: none;
}
/*media querys tablets*/
@media screen and (min-width: 700px) {
	.r-form {
		width: 80%;
	}
}

/*media querys for small pc*/
@media screen and (min-width: 900px) {
	.r-form {
		width: 70%;
	}
}

/*media querys for mediam pc*/
@media screen and (min-width: 1200px) {
	.r-form {
		width: 50%;
	}
}
